body {
  background: url("https://img.freepik.com/free-vector/flat-design-monsoon-season-clouds-illustration_23-2149424294.jpg?w=1480&t=st=1714285784~exp=1714286384~hmac=20a13ccc87fca5cf4e2473b7bd02276703b16407d6b291bf29e03ca94f4ce70e.jpg");
  height: 100vh;
}

.weather-box {
  border: 3px solid white;
  padding: 50px;
  margin-bottom: 10px;
  width: 50vw;
  text-align: center;
  border-radius: 30px;
  background-color: azure;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.test {
  display: flex;
  flex-direction: column;
}